gateway/n8n-workflows/pbc-document-sorting.json
{
  "id": "103",
  "name": "PBC Document Classification & Gap Analysis",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pbc-classify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-pbc-classify",
      "name": "Webhook — POST /pbc-classify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "pbc-classify"
    },
    {
      "parameters": {
        "jsCode": "// Load standard PBC checklist for tax engagements\nconst pbcChecklist = [\n  {\n    id: \"PBC-001\",\n    item: \"Trial Balance\",\n    description: \"Current period trial balance with account numbers and balances\",\n    category: \"Financial Data\"\n  },\n  {\n    id: \"PBC-002\",\n    item: \"General Ledger detail\",\n    description: \"Detailed general ledger for the reporting period\",\n    category: \"Financial Data\"\n  },\n  {\n    id: \"PBC-003\",\n    item: \"Tax returns (prior year Federal + State)\",\n    description: \"Prior year federal and state income tax returns as filed\",\n    category: \"Tax Returns\"\n  },\n  {\n    id: \"PBC-004\",\n    item: \"Financial statements\",\n    description: \"Audited or reviewed financial statements for the current and prior period\",\n    category: \"Financial Data\"\n  },\n  {\n    id: \"PBC-005\",\n    item: \"Fixed asset register\",\n    description: \"Fixed asset listing with acquisition dates, costs, depreciation methods, and accumulated depreciation\",\n    category: \"Assets\"\n  },\n  {\n    id: \"PBC-006\",\n    item: \"Lease schedules\",\n    description: \"All operating and finance lease schedules including ASC 842 calculations\",\n    category: \"Assets\"\n  },\n  {\n    id: \"PBC-007\",\n    item: \"Stock compensation details\",\n    description: \"Stock option and RSU grant details, vesting schedules, and ASC 718 expense calculations\",\n    category: \"Compensation\"\n  },\n  {\n    id: \"PBC-008\",\n    item: \"Intercompany transactions\",\n    description: \"Intercompany transaction listing, transfer pricing documentation, and elimination entries\",\n    category: \"Intercompany\"\n  },\n  {\n    id: \"PBC-009\",\n    item: \"Permanent/temporary difference support\",\n    description: \"Schedule of book-tax differences classified as permanent or temporary\",\n    category: \"Tax Provision\"\n  },\n  {\n    id: \"PBC-010\",\n    item: \"Tax provision workpapers\",\n    description: \"Current and deferred tax provision calculations, effective tax rate reconciliation\",\n    category: \"Tax Provision\"\n  },\n  {\n    id: \"PBC-011\",\n    item: \"Deferred tax roll-forward\",\n    description: \"Deferred tax asset and liability roll-forward from prior year to current year\",\n    category: \"Tax Provision\"\n  },\n  {\n    id: \"PBC-012\",\n    item: \"Uncertain tax positions (FIN 48/ASC 740-10)\",\n    description: \"Schedule of uncertain tax positions, including two-step analysis and roll-forward\",\n    category: \"Tax Provision\"\n  },\n  {\n    id: \"PBC-013\",\n    item: \"State apportionment schedules\",\n    description: \"State-by-state apportionment factors (sales, payroll, property) and nexus analysis\",\n    category: \"State Tax\"\n  },\n  {\n    id: \"PBC-014\",\n    item: \"R&D credit support\",\n    description: \"Research and development credit documentation including qualified research expenses and ASC 730 analysis\",\n    category: \"Credits\"\n  },\n  {\n    id: \"PBC-015\",\n    item: \"Entity org chart\",\n    description: \"Legal entity organizational chart showing ownership percentages and jurisdictions\",\n    category: \"Entity Structure\"\n  }\n];\n\n// Pass the checklist and incoming document data downstream\nconst incomingDoc = $input.first().json;\n\nreturn [{\n  json: {\n    document: {\n      id: incomingDoc.document_id || incomingDoc.id,\n      title: incomingDoc.title || incomingDoc.document_title || 'Untitled',\n      content: incomingDoc.content || incomingDoc.text || '',\n      filename: incomingDoc.original_filename || incomingDoc.filename || '',\n      correspondent: incomingDoc.correspondent || '',\n      created: incomingDoc.created || incomingDoc.created_date || new Date().toISOString()\n    },\n    pbcChecklist\n  }\n}];"
      },
      "id": "load-pbc-checklist",
      "name": "Load PBC Checklist",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.52:4000/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"batch-triage\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a PBC (Provided By Client) document classifier for tax engagements. You will be given a document and a PBC checklist. Classify the document against the checklist.\\n\\nReturn ONLY valid JSON with this structure:\\n{\\n  \\\"classifications\\\": [\\n    {\\n      \\\"pbc_item_id\\\": \\\"PBC-XXX\\\",\\n      \\\"pbc_item_name\\\": \\\"Item name\\\",\\n      \\\"confidence\\\": 0.0-1.0,\\n      \\\"matched_content\\\": \\\"Brief excerpt or description of what matched\\\"\\n    }\\n  ],\\n  \\\"primary_classification\\\": \\\"PBC-XXX\\\",\\n  \\\"summary\\\": \\\"One sentence summary of the document\\\"\\n}\\n\\nRules:\\n- A document may match multiple PBC items (e.g., financial statements may contain trial balance data)\\n- Only include matches with confidence >= 0.3\\n- primary_classification is the single best match\\n- If no match, return empty classifications array and primary_classification as null\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Document title: \" + $json.document.title + \"\\nFilename: \" + $json.document.filename + \"\\nCorrespondent: \" + $json.document.correspondent + \"\\n\\nDocument content (first 2000 chars):\\n\" + ($json.document.content || '').substring(0, 2000) + \"\\n\\nPBC Checklist:\\n\" + $json.pbcChecklist.map(item => item.id + ': ' + item.item + ' — ' + item.description).join('\\n')\n    }\n  ],\n  \"temperature\": 0.1,\n  \"max_tokens\": 800\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "llm-classify-pbc",
      "name": "LiteLLM — Classify Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LITELLM_CREDENTIAL_ID",
          "name": "LiteLLM Gateway Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse classification result from LLM\nconst items = [];\n\nfor (const item of $input.all()) {\n  const llmResponse = item.json;\n  const originalData = $('Load PBC Checklist').item.json;\n\n  let classification;\n  try {\n    const content = llmResponse.choices[0].message.content;\n    if (typeof content === 'string') {\n      const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n      classification = JSON.parse(cleaned);\n    } else {\n      classification = content;\n    }\n  } catch (e) {\n    classification = {\n      classifications: [],\n      primary_classification: null,\n      summary: 'Classification parse error: ' + e.message\n    };\n  }\n\n  // Build tag list from matched PBC items\n  const tags = [];\n  if (classification.classifications && classification.classifications.length > 0) {\n    for (const match of classification.classifications) {\n      tags.push(match.pbc_item_id);\n      // Also add category-level tag\n      const checklistItem = originalData.pbcChecklist.find(c => c.id === match.pbc_item_id);\n      if (checklistItem && !tags.includes('pbc-' + checklistItem.category.toLowerCase().replace(/[^a-z0-9]/g, '-'))) {\n        tags.push('pbc-' + checklistItem.category.toLowerCase().replace(/[^a-z0-9]/g, '-'));\n      }\n    }\n  }\n  tags.push('pbc-classified');\n\n  // Determine primary match name\n  let primaryName = 'Unclassified';\n  if (classification.primary_classification) {\n    const primary = originalData.pbcChecklist.find(c => c.id === classification.primary_classification);\n    primaryName = primary ? primary.item : classification.primary_classification;\n  }\n\n  items.push({\n    json: {\n      documentId: originalData.document.id,\n      documentTitle: originalData.document.title,\n      filename: originalData.document.filename,\n      primaryClassification: classification.primary_classification,\n      primaryName,\n      classifications: classification.classifications || [],\n      summary: classification.summary || '',\n      tags,\n      confidence: classification.classifications && classification.classifications.length > 0\n        ? Math.max(...classification.classifications.map(c => c.confidence))\n        : 0\n    }\n  });\n}\n\nreturn items;"
      },
      "id": "parse-classification",
      "name": "Parse Classification Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [780, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'http://192.168.1.221:8000/api/documents/' + $json.documentId + '/' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"tags\": $json.tags,\n  \"custom_fields\": [\n    {\n      \"field\": \"pbc_classification\",\n      \"value\": $json.primaryName\n    },\n    {\n      \"field\": \"pbc_item_id\",\n      \"value\": $json.primaryClassification || 'unclassified'\n    },\n    {\n      \"field\": \"classification_confidence\",\n      \"value\": $json.confidence\n    }\n  ]\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "paperless-tag-document",
      "name": "Paperless-ngx — Tag Document",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PAPERLESS_CREDENTIAL_ID",
          "name": "Paperless-ngx Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.38:8090/ai-alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ 'PBC Classified: ' + $('Parse Classification Result').item.json.primaryName }}"
            },
            {
              "name": "Priority",
              "value": "={{ $('Parse Classification Result').item.json.confidence >= 0.8 ? 'default' : 'high' }}"
            },
            {
              "name": "Tags",
              "value": "pbc,document,classified"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ 'Document: ' + $('Parse Classification Result').item.json.documentTitle + '\\nFile: ' + $('Parse Classification Result').item.json.filename + '\\nClassification: ' + $('Parse Classification Result').item.json.primaryName + ' (' + $('Parse Classification Result').item.json.primaryClassification + ')\\nConfidence: ' + (Math.round($('Parse Classification Result').item.json.confidence * 100)) + '%\\nSummary: ' + $('Parse Classification Result').item.json.summary }}",
        "options": {}
      },
      "id": "ntfy-classification-confirm",
      "name": "ntfy — Classification Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1"
            }
          ]
        }
      },
      "id": "schedule-weekly-gap",
      "name": "Weekly Monday 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 700]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://192.168.1.221:8000/api/documents/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "tags__name__in",
              "value": "pbc-classified"
            },
            {
              "name": "page_size",
              "value": "500"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "paperless-get-tagged",
      "name": "Paperless-ngx — Get PBC Tagged Docs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [260, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "PAPERLESS_CREDENTIAL_ID",
          "name": "Paperless-ngx Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Compare received documents against full PBC checklist to identify gaps\nconst pbcChecklist = [\n  { id: \"PBC-001\", item: \"Trial Balance\", category: \"Financial Data\" },\n  { id: \"PBC-002\", item: \"General Ledger detail\", category: \"Financial Data\" },\n  { id: \"PBC-003\", item: \"Tax returns (prior year Federal + State)\", category: \"Tax Returns\" },\n  { id: \"PBC-004\", item: \"Financial statements\", category: \"Financial Data\" },\n  { id: \"PBC-005\", item: \"Fixed asset register\", category: \"Assets\" },\n  { id: \"PBC-006\", item: \"Lease schedules\", category: \"Assets\" },\n  { id: \"PBC-007\", item: \"Stock compensation details\", category: \"Compensation\" },\n  { id: \"PBC-008\", item: \"Intercompany transactions\", category: \"Intercompany\" },\n  { id: \"PBC-009\", item: \"Permanent/temporary difference support\", category: \"Tax Provision\" },\n  { id: \"PBC-010\", item: \"Tax provision workpapers\", category: \"Tax Provision\" },\n  { id: \"PBC-011\", item: \"Deferred tax roll-forward\", category: \"Tax Provision\" },\n  { id: \"PBC-012\", item: \"Uncertain tax positions (FIN 48/ASC 740-10)\", category: \"Tax Provision\" },\n  { id: \"PBC-013\", item: \"State apportionment schedules\", category: \"State Tax\" },\n  { id: \"PBC-014\", item: \"R&D credit support\", category: \"Credits\" },\n  { id: \"PBC-015\", item: \"Entity org chart\", category: \"Entity Structure\" }\n];\n\nconst documents = $input.first().json;\nconst results = documents.results || documents.data || [];\n\n// Extract PBC item IDs from document tags\nconst receivedPbcIds = new Set();\nconst documentsByPbc = {};\n\nfor (const doc of results) {\n  const tags = doc.tags || [];\n  for (const tag of tags) {\n    const tagName = typeof tag === 'string' ? tag : (tag.name || tag.slug || '');\n    if (tagName.startsWith('PBC-')) {\n      receivedPbcIds.add(tagName);\n      if (!documentsByPbc[tagName]) documentsByPbc[tagName] = [];\n      documentsByPbc[tagName].push({\n        id: doc.id,\n        title: doc.title || doc.original_filename || 'Untitled',\n        created: doc.created || doc.created_date\n      });\n    }\n  }\n}\n\n// Identify received items and gaps\nconst received = [];\nconst gaps = [];\n\nfor (const item of pbcChecklist) {\n  if (receivedPbcIds.has(item.id)) {\n    received.push({\n      ...item,\n      status: 'received',\n      documents: documentsByPbc[item.id] || []\n    });\n  } else {\n    gaps.push({\n      ...item,\n      status: 'missing'\n    });\n  }\n}\n\n// Group gaps by category\nconst gapsByCategory = {};\nfor (const gap of gaps) {\n  if (!gapsByCategory[gap.category]) gapsByCategory[gap.category] = [];\n  gapsByCategory[gap.category].push(gap);\n}\n\nconst totalItems = pbcChecklist.length;\nconst receivedCount = received.length;\nconst gapCount = gaps.length;\nconst completionPct = Math.round((receivedCount / totalItems) * 100);\n\nreturn [{\n  json: {\n    totalItems,\n    receivedCount,\n    gapCount,\n    completionPct,\n    received,\n    gaps,\n    gapsByCategory,\n    analysisDate: new Date().toISOString()\n  }\n}];"
      },
      "id": "gap-analysis",
      "name": "PBC Gap Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [520, 700]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.52:4000/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  \"model\": \"chat\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a tax engagement manager. Generate a professional, client-ready PBC gap analysis report. Use clear language suitable for sending to a corporate tax team. Format with markdown headings. Include: executive summary, completion status, outstanding items grouped by category, suggested follow-up actions with priority levels, and a recommended deadline for each item.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Generate a PBC gap analysis report based on this data:\\n\\nCompletion: \" + $json.receivedCount + \" of \" + $json.totalItems + \" items received (\" + $json.completionPct + \"%)\\nAnalysis Date: \" + $json.analysisDate + \"\\n\\nReceived items:\\n\" + $json.received.map(r => '- ' + r.id + ': ' + r.item + ' (' + r.documents.length + ' doc(s))').join('\\n') + \"\\n\\nMissing items:\\n\" + $json.gaps.map(g => '- ' + g.id + ': ' + g.item + ' [' + g.category + ']').join('\\n') + \"\\n\\nGaps by category:\\n\" + Object.entries($json.gapsByCategory).map(([cat, items]) => cat + ': ' + items.map(i => i.item).join(', ')).join('\\n')\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 2000\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "llm-gap-report",
      "name": "LiteLLM — Generate Gap Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 700],
      "credentials": {
        "httpHeaderAuth": {
          "id": "LITELLM_CREDENTIAL_ID",
          "name": "LiteLLM Gateway Bearer Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.38:8090/ai-alerts",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Title",
              "value": "={{ 'PBC Gap Report — ' + $('PBC Gap Analysis').item.json.completionPct + '% Complete (' + $('PBC Gap Analysis').item.json.gapCount + ' items outstanding)' }}"
            },
            {
              "name": "Priority",
              "value": "={{ $('PBC Gap Analysis').item.json.completionPct < 50 ? 'urgent' : ($('PBC Gap Analysis').item.json.completionPct < 80 ? 'high' : 'default') }}"
            },
            {
              "name": "Tags",
              "value": "pbc,gap-analysis,weekly"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "string",
        "body": "={{ (() => {\n  const gapData = $('PBC Gap Analysis').item.json;\n  const reportContent = $json.choices[0].message.content;\n  const summary = 'PBC Status: ' + gapData.receivedCount + '/' + gapData.totalItems + ' items received (' + gapData.completionPct + '%)\\n\\nOutstanding (' + gapData.gapCount + ' items):\\n' + gapData.gaps.map(g => '  • ' + g.item + ' [' + g.category + ']').join('\\n') + '\\n\\n— Full report generated via AI gateway';\n  return summary;\n})() }}",
        "options": {}
      },
      "id": "ntfy-gap-report",
      "name": "ntfy — Gap Report Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1040, 700]
    }
  ],
  "connections": {
    "Webhook — POST /pbc-classify": {
      "main": [
        [
          {
            "node": "Load PBC Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load PBC Checklist": {
      "main": [
        [
          {
            "node": "LiteLLM — Classify Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM — Classify Document": {
      "main": [
        [
          {
            "node": "Parse Classification Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification Result": {
      "main": [
        [
          {
            "node": "Paperless-ngx — Tag Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless-ngx — Tag Document": {
      "main": [
        [
          {
            "node": "ntfy — Classification Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Monday 8 AM": {
      "main": [
        [
          {
            "node": "Paperless-ngx — Get PBC Tagged Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paperless-ngx — Get PBC Tagged Docs": {
      "main": [
        [
          {
            "node": "PBC Gap Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PBC Gap Analysis": {
      "main": [
        [
          {
            "node": "LiteLLM — Generate Gap Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LiteLLM — Generate Gap Report": {
      "main": [
        [
          {
            "node": "ntfy — Gap Report Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "pinData": {},
  "tags": [
    {
      "name": "pbc"
    },
    {
      "name": "tax"
    },
    {
      "name": "document-classification"
    },
    {
      "name": "gap-analysis"
    }
  ],
  "triggerCount": 2,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  }
}
